<html>
    <center> Select the table </center>
    <%
        for(var t=1; t<=20; t++)
        {
            %>
            <a href='/range/<%= t %>'> <%= t %> </a>
            <br>
            <%
        }
        %>
</html>