<html>
        <% include header.ejs %>
    <form action="/login" method="POST"> 
        <h2>Login:</h2>
        Username:
        <input type="text" name="username"><br>
        Password:
        <input type="password" name="password"><br>
        <input type="submit" name="Submit"><br>
    </form>
    <% include footer.ejs %>
</html>